/*
Theme Name: twentytwelve-child
Theme URI: http: //example.com/
Description: twentytwelve-child
Author: Cyril Moyen
Author URI: http: //example.com/about/
Template: twentytwelve
Version: 0.1.0
*/
@import url("../twentytwelve/style.css");


html,
body {
	height: 100%;
	margin: 0;
	padding: 8;
}



a {
	border-image-width: 0 0 0 0;
	border-image-slice: 0 0 0 0;
}

h4 {
		margin: 0 !important;
		margin-bottom: 2px;
}

h3 {
		margin: 0 !important;
}

#content {
	min-height: 100%;
	margin: 0 auto;
}

.actualite {
	color: #077ec3;
	text-align: center; 
	font-size: 1.3em;
}

.contour-header-image {
	padding-top: 20px;
	padding-bottom: 10px;
}	


div.header-image {
	background-image: url(http://www.ch-orthez.fr/wp-content/uploads/2015/09/banniere.png);
	width: 1061px;
	max-width: 100%;
	height: 150px;
	margin:0 auto;
	text-align: center;
}

a.header-image {
	box-shadow: none !important;
}

#infohead {
	float: right;
	background-color: transparent;
	color: black;
	text-align: center;
	padding: 6%;
	padding-top: 4%;
	padding-bottom: 4%;
}

.info_ho {
	font-weight: bold;
	color: white;
}



#main a {
	color: #03344f;
}

.text-entete a {
	color: white;
}

.text-entete a:visited {
	color: white !important;
}

#breadcrumbs {
	margin: 0;
    max-width: 100%; 
	padding: 10px; 
	color: white;  
	background-color: #8babad;
	font-size: 1.1em;
	border: none;
}

#breadcrumbs strong {
	color: white;
}

#breadcrumbs a {
	color: white;
}

.home #breadcrumbs { display: none; }

.primary-mobile-nav {
	display: none;
}

 .header_image_vie {
 	border-image-width: 0 0 0 0;
 }

 .primary-nav {
 	/*
 	position: fixed;
 	z-index: 2;
 	top: 0;
 	left: 0;*/
 	width: 100%;
 }

 .fixed {
 	position: fixed;	
 	top: 0;
 	left: 0;
 	z-index: 100;
 	background-color: rgba(7,126,195, 0.85);
 }

 .main-navigation .primary-nav ul > .rouge a:hover {
  	color: #e10019;
  }

 .main-navigation .primary-nav ul > .current-menu-item.rouge a,
 .main-navigation .primary-nav ul > .current-menu-ancestor.rouge a,
 .main-navigation .primary-nav ul > .current_page_item.rouge a,
 .main-navigation .primary-nav ul > .current_page_ancestor.rouge a,
 .main-navigation .primary-nav ul > .rouge a {
  	background-color: #e10019;
  	color: white;
 }

.main-navigation,
.main-navigation .primary-nav,
.main-navigation .primary-nav img
 {
    margin-top: 0px;
    margin-top: 0rem;
}

.main-navigation .primary-nav ul > #menu-item-1342.current-menu-item > a {
	background-color: #0775b1;
}



#image_hopital {
	color: transparent !important;
 	width: 169px;
 	position: relative;
 	height: 73px;
 	left: 117px;
 	top: 53px;
 	z-index: 4;
}



.main-navigation .primary-nav ul.nav-menu li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

.main-navigation ul.nav-menu {
	border-top: 1px none white;
	border-bottom: 4px solid #077ec3 !important;
}

.main-navigation .primary-nav ul.nav-menu,
.main-navigation .primary-nav div.nav-menu > ul {
    border-bottom: 1px solid #29293B;
    background-color: transparent;
    text-align: center;
    max-width: 100%;
    margin-top: 0px;

}



.main-navigation .primary-nav .sub-menu li > a {
  	padding-top: 0 !important;
  	padding-bottom: 0 !important;
}


 .main-navigation .primary-nav ul > li a,
 .main-navigation .primary-nav ul > .current-menu-item > a,
 .main-navigation .primary-nav ul > .current-menu-ancestor > a,
 .main-navigation .primary-nav ul > .current_page_item > a,
 .main-navigation .primary-nav ul > .current_page_ancestor > a,
 .main-navigation .primary-nav ul > li a:hover
{ 
	color: white;  

}

 .main-navigation .primary-nav ul > li a:hover {
 	background-color: white;
 	color: #0775b1;
 }

 .main-navigation .primary-nav ul > li a,
 .main-navigation .primary-nav ul > .current-menu-ancestor > a,
 .main-navigation .primary-nav ul > .current_page_ancestor > a {
	  font-size: 1.22em;
	  font-weight: bold;
	  line-height: 2em;
	  margin-top: 0px;
	  padding: 0 5px;
 }

 .main-navigation .primary-nav ul > .current-menu-item > a,
 .main-navigation .primary-nav ul > .current_page_item > a
{
  font-weight: bold;
  line-height: 2em;
  border-top: 0px solid  #29293B;
  margin-top: 0px;
  margin-top: 0em;
 }


 .main-navigation .primary-nav ul > .current-menu-item > a,
 .main-navigation .primary-nav ul > .current-menu-ancestor > a,
 .main-navigation .primary-nav ul > .current_page_item > a,
 .main-navigation .primary-nav ul > .current_page_ancestor > a {
 background-color: #0aa0f2;
 }


 .main-navigation .primary-nav ul li ul li a{
     background-color: #0775b1;
 }

.main-navigation .primary-nav li { 
	margin: 0;
	font-size: 9px;
}

.main-navigation .primary-nav li ul li a {
	background: none repeat scroll 0% 0% #03344f;
	display: block;
	font-size: 0.785714rem;
	line-height: 2.18182;
	border: 1px solid white;
	border-top: none;
	white-space: normal;}



.sous-menu-top{
	border-top: 1px solid white;	
}

.entry-content {
}

.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
	/* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
	border-radius: 0px;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.header-image {
	margin-top: 0px;
	margin-top: 0rem;
	border: 0;
	border-image-slice: 0 0 0 0;
	border-image-width: 0 0 0 0;
	border-image: none;

}

img {
	-webkit-border-image: none;
    -o-border-image: none; 
    -moz-border-image: none;
	border-image: none;
}

.entry-header {
	width: 50%;
	text-align: center;
	margin: 0 auto;
	border: 0 none;
}

.entry-header img{
	width: auto;
	height: 300px;
}

.entry-title {
	font-size: 2em;
	color: #0775b1;
}

.entry-content ul {
	margin-bottom: 0em;
}

.entry-content table {
	min-width: 280px !important;
	color: #055F91;
}



.site-header {
	padding: 0px 0;
	padding: 0rem 0;
	margin-top: 0px;
	margin-top: 0em;
	margin-bottom: 0px;
	margin-bottom: 0em;
	border: 0 none;
	border-image-width: 0 0 0 0;

}

.site-info {
	margin: 0 auto;
	width: 440px;
	padding-left: 1.5%;
	padding-right: 1.5%;
	max-width: 95%;
	color: #0775B1;
	font-weight: bold;
	text-align: center;
	border-top: solid #0775B1 1px;
}

.accueil_texte {
	margin: 0 auto;
	padding-top: 30px;
	width: 380px;
	/*border-left: 0.5px solid;*/ 
	border-color: #055F91;
}

#main_accueil {
	margin: 0 auto;
	clear: both;

}

.main_accueil_left {
	margin: 0 auto;
	margin-right: 3%;
	float: left;
	width: 18%;
	margin-top: 50px;
	padding:1%;
	background-color: white;
	-o-box-shadow: 0.125px 0.125px 1.25px 0.25px #757575;
	-moz-box-shadow: 0.125px 0.125px 1.25px 0.25px #757575;
	-webkit-box-shadow: 0.125px 0.125px 1.25px 0.25px #757575;
	box-shadow: 0.125px 0.125px 1.25px 0.25px #757575;
}


#personne {
	background-color: #a4a4a4;
}

#personne:hover {
	background-color: #707070;
}

#cht {
	background: -webkit-linear-gradient(left, #055f91 , #26adf8); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, #055f91 , #26adf8); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(right, #055f91 , #26adf8); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to right , #055f91 , #26adf8); /* Standard syntax */
}

#cht:hover {
}

#cht a {
	color: white;
}


#defile { position:absolute; margin-top:1px; background-color:transparent; }

.information_mise_en_avant {
	-webkit-box-shadow: 1px 1px 10px 2px #757575;
	-o-box-shadow: 1px 1px 10px 2px #757575;
	-moz-box-shadow: 1px 1px 10px 2px #757575;
	box-shadow: 1px 1px 10px 2px #757575;
	color: white;
	background-color: #8babad;
	width: auto;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 20px;
}

#content-info {
	width: auto;
	margin: 0 auto;
}

.information {
	display: inline-block;
	text-align: center;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 0 20px;
}

.information2 {
	text-align: center;
	display: inline-block;
	padding: 0 20px;
	border-right: 1px solid white;

}

.main_accueil_right {
	float: right;
	width: 77%;
	margin: 0 auto;
	border-radius: 5px;
}

.main_accueil_right strong {
	color: #0775B1;
}

.accueil_right_recadrage {
	margin: 0 auto;
	clear: both;


}

.accueil_right_recadrage ul {
	list-style-type: none;
}

.accueil_right_recadrage li {
	margin: 0 auto;
	padding-bottom: 15px; 
	clear: both;
	width: 90%;
	min-height: 110px;

}

#slidiv1 {
	display: block;
}

.content-thumb-wrapper {
	width: 100%;
	text-align: center;
	color: #0775B1;
	padding-bottom: 30px;
}

.content-thumb-wrapper a {
	color: #0775B1 !important;
}

.content-thumb-wrapper  {
}

.thumb-wrapper {
	width: 107px;
	max-width: 100%;
	height: 107px;
	position: relative;
	left: -1px;
	top: 0px;
	display: block;
	overflow: hidden;
	text-align: center;
	margin: auto;
}

.round-div {
	display: inline-block;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: absolute;
	width: 80px;
	height: 80px;
	z-index: 99;
	-webkit-border-radius: 60px;	
	-moz-border-radius: 500px;
	border-radius: 900px;
	border: 60px solid white;
	border-image: none;
	top: -48px;
	left: -48.5px;
}

.content-thumb-wrapper:hover  .round-div {
 	transform-origin: 50% 50%;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	-o-transform: scale(1.3);
	transform: scale(1.3);

}

.slideshow {
   clear: both;
   width: 600px;
   max-width: 100%;
   overflow: hidden;
   margin: 0 auto;
   padding-bottom: 15px;
   color: #0775b1;
   font-size: 1em;
   font-weight: bold;
   min-height: 115px;
}

.slideshow ul {
    /* 8 images donc 2 x 100% */
   width: 200%;
   padding: 0; 
   margin: 0;
   list-style: none;
}
.slideshow ul li {
	width: 50%;
	margin: 0;
   float: left;
}

.actu_recadrage {
	margin: 0 auto;
	overflow: auto;

}

.actu1,
.actu2,
.actu3 {
	border-radius: 5px;
	float: left;
	margin-right: 0;
	margin-left: 0;
	padding-bottom: 10px;
	width: 33.3%;
	max-width: 100%;

}

.actu2 {
	border-left: 0.5% solid #f8fafa;
	border-right: 0.5% solid #f8fafa;
}

.actu_image{ 
	width: 100%;
	text-align: center;
}

.actu_image img{
	width: 98%;
	height: 156px;	
}

.actu_texte {
	width: 98%;
	min-height: 150px; 
}

.actu_titre {
	text-align: center;
	}
	
.actu_content {
	min-height: 150px;
	width: 98%;
	padding: 1%;
	padding-bottom: 0.5em;
}


#reseaux_sociaux,
#information_hopital,
.actualites {																																																																																																																																																																																																																																																																																																																
	background-color: white;
	border-top: 5px solid #0775B1;
	-o-box-shadow: 0.125px 0.125px 1.25px 0.25px #757575;
	-moz-box-shadow: 0.125px 0.125px 1.25px 0.25px #757575;
	-webkit-box-shadow: 0.125px 0.125px 1.25px 0.25px #757575;
	box-shadow: 0.125px 0.125px 1.25px 0.25px #757575;
	padding: 0.5%;
	padding-top: 10px;

}		

.actualites {

	overflow: auto;
	margin: 0 auto;
	clear: both;
}

#information_hopital {
	margin-bottom: 15px;
	overflow: auto;
	padding: 2%;
}																																										

#reseaux_sociaux {
	padding: 10px;
}

.text-slideshow {
	text-align: center;
}


#content > article {
	font-size: 1.1em;
	padding-top: 10px;
	margin-bottom: 0 !important;
	padding-bottom: 20px !important;
	color: black;
	background-color: #eef3f3;
	clear: both;
}

#content > article h2 {
	color: #0775b1;
}

#content > article h6 {
	margin-top: 1px;
	margin-bottom: 5px;
}

#article-content {
	width: 1150px;
	max-width: 95%;
	margin: 0 auto;
	padding-left: 2.5%;
	padding-right: 2.5%;


}

#article-content h2 {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

hgroup #image {
	margin-top: 0em;
}

#slider_test {
    overflow: hidden;
    width: 100%;
}

#slider_test #content_slider {
    position: relative;
    width: 100%;
}

#slider_test #content_slider div {
    float: left;
}

.su-tabs {
	width: 90%;
	margin-left: 5% !important;
	margin-right: 5% !important;
}

.su-tabs-panes {
	width: 50% !important;
	float: right !important;
}

.su-tabs-nav {
	width: 50% !important;
	float: left !important;
}

.nivo-caption {
	background-color: #055F91 !important;
}

.mot_directeur {
	width: 314px;
	margin: 0 auto;
}

.facebook {

}

.facebook-image {
}

.nav_element {
	width: 380px;
	margin: 0 auto;
	padding: 7px;
	-o-box-shadow: 0.5px 0.5px 5px 1px #757575;
	-moz-box-shadow: 0.5px 0.5px 5px 1px #757575;	
	-webkit-box-shadow: 0.5px 0.5px 5px 1px #757575;
	box-shadow: 0.5px 0.5px 5px 1px #757575;
}

.text-blanc, .text-entete, #text-footer
{
	color: #055F91;
	font-size: 1em;
	margin-left: 6px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 7px;
	padding-bottom: 3px;

}

.text-bleu {
	background-color: #EAEFF2;
	color: #0775B1;
	font-size: 1.1em;
	margin-left: 6px;
	margin-right: 5px;
	margin-bottom: 5px;
	padding: 7px;
	padding-bottom: 3px;
	border-radius: 5px;
}

.text-entete{
	text-align: center;
	clear: both;
	padding-left: 7px;
	padding-right: 7px;
}

#text-footer {
	margin-top: 50px;
}

.site-content article {
	word-wrap: keep-all;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
}

.menu-accueil-container {
	margin-top: 0em;
}

.dot {
	padding-left: 5px !important;
}



table, th, td {
    border: 2px solid black;
}


table {
	margin: auto;
    border-collapse: collapse;
    width: 100% !important;
}

th {
	height: 20px;
	font-size: 1.2em;
	text-align: center;
	background-color: white;
}

form {
	margin-left: 30%;
}

#wpcf7 {
	width: 100%;
}

label {
	display: block;
    width: 300px;
    float: left;
}

ul {
	margin-bottom: 0px;
}

#colophon {
	border: none;
	background-color: #EEF3F3;
	max-width: 100%;
	margin-top: 0;
}

#colophon a {
	color: #0775B1;
}
#colophon a:hover {
	color: #21759b;
}

#background-logo {
	background-image: url(http://ch-orthez.heliantis.net/wp-content/uploads/2015/09/fond_site.png);

}

#primary {
	position: relative;
	margin : 0 auto;
	padding: 0;
	max-width: 100%;
  	background: -webkit-linear-gradient(top, #c2c4bb , #f3f3f2); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, #c2c4bb , #f3f3f2); /* For Opera 11.1 to 12.0 */
  	background: -moz-linear-gradient(bottom, #c2c4bb , #f3f3f2); /* For Firefox 3.6 to 15 */
  	background: linear-gradient(to bottom , #c2c4bb , #f3f3f2); /* Standard syntax */
}

#masthead {
  background: -webkit-linear-gradient(#044a70, #0775b1 80%); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#044a70, #0775b1 80%); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#044a70, #0775b1 80%); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#044a70, #0775b1 80%); /* Standard syntax */
}

#page {

  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  max-width: 100%;
}



#colophon {

  min-height: 70px;
  padding-top: 0;	
  padding-bottom: 5px; 
  padding-left: 5px;	
}

#secondary {
	margin-top: 0;
	padding-top: 0;	
	border-top: none;
	color: white;
}

#champ_cache {
	display: none;
}

#text-2 {
	width: 100%;
	margin: 0;
}

 .slicknav_menu {
 	display: none;
 }

footer.entry-meta {
	margin: 0 !important;
	background-color: #EEF3F3;
}

#menu-accueil-1 li {
	padding-right: 20px;
}

#menu-accueil-1 li > ul {
	border-left: 0;
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}

#menu-accueil-1 li ul li {
	text-align: left;
}

#menu-accueil-1 li ul .sous-menu-top,
#menu-accueil-1 li ul li a {
	border: none;
}

#menu-accueil-1 li,
#menu-accueil-1 li a,
#menu-accueil-1 li ul li,
#menu-accueil-1 li ul li a {
	background-color: #0775B1 ;
} 

#menu-accueil-1 li a:hover,
#menu-accueil-1 li ul li a:hover {
	background-color: white;
	color: #0775B1;
}

.gauche_urgence {
	float: left;
	width: 49%;
	text-align: right;
}

.droite_urgence {
	float: right;
	width: 50%;
	text-align: left;
}

.annuaire_interne {
	width: 90%;
	margin: 0 auto;
	overflow: auto;
}

.gauche {
	float: left;
	width: 49%;	
	text-align: right;
}

.droite {
	float: right;
	width: 50%;
	text-align: left;
}

@media screen and (max-width: 500px) {

	.site-info {
		font-size: 0.8em;	
	}

	.entry-content table {
		font-size: 0.8em;
	}
	.entry-content table td{
		padding:1px;
	}

	.gauche_urgence {
		float: left;
		width: 62%;
		text-align: right;
		font-size: 0.85em;
	}

	.droite_urgence {
		float: right;
		width: 38%;
		text-align: left;
		font-size: 0.85em;

	}


	.annuaire_interne_titre strong{
		font-size: 0.8em;
	}


	.gauche {
		font-size: 0.66em !important;
		width: 77% !important;
	}

	.droite{
		font-size: 0.66em !important;
		width: 23% !important;
	}

	.actu1 {
		border-radius: 5px;
		float: none;
		margin: 1%;
		margin: 0 auto;
		padding-bottom: 10px;
		width: 100%;
		max-width: 100%;		
	}

	.actu1 .actu_image {
		float: left;
		width: 50%;
		padding-right: 8px;
	}

	.actu_texte {
		min-height: 100px;
	}

	.actu1,
	.actu2,
	.actu3 {
		font-size: 0.9em;
	}

	.actu2,
	.actu3 {
		border-radius: 5px;
		float: left;
		margin: 1%;
		margin: 0 auto;
		padding-bottom: 30px;
		width: 49.9%;
		max-width: 100%;

	}

	.actu_image img {
		height: auto !important;
	}

	.actu_content {
		padding-bottom: 5px;
	}

}


/* Pour les petits écrans (en-dessous de 660 pixels) */

@media screen and (max-width: 660px) {

	.annuaire_interne_titre {
		font-size: 0.9em;
	}

	.gauche {
		font-size: 0.85em;
		width: 67%;
	}

	.droite{
		font-size: 0.85em;
		width: 32%;
	}


	.annuaire_interne{
		width: 100%;
	}

	.gauche {
		float: left;
		width: 49%;
		text-align: right;
	}

	.droite {
		float: right;
		width: 50%;
		text-align: left;
	}


	
	.slicknav_menu {
		display: block !important;
	  	background-color: #044a70;

	}

	.primary-nav {
  		display: none !important;
  	}

  	.actu_image img {
  		height: 117px;
  	}

  	.main_accueil_left {
  		float: none;
  		width: 100%;
		max-width: 100%;
  	}

  	.main_accueil_right {
  		float: none;
  		max-width: 100%;
  		width: 100%;
  	}

}

@media screen and (max-width: 800px) {

	tbody {
		width: 100%;
	}

	#article-content{
	}
	
	.slicknav_menu {
		display: block !important;
	  	background-color: #044a70;

	}

	.primary-nav {
  		display: none !important;
  	}

 .main-navigation .primary-nav ul > li a,
 .main-navigation .primary-nav ul > .current-menu-ancestor > a,
 .main-navigation .primary-nav ul > .current_page_ancestor > a {
	  font-size: 1.3em;
	  font-weight: bold;
	  line-height: 2em;
	  margin-top: 0px;
	  padding: 0 5px;
 }

}

@media screen and (max-width: 990px) {

	.slicknav_menu {
		display: block !important;
	  	background-color: #044a70;

	}

	.primary-nav {
  		display: none !important;
  	}

}
  	
@media screen and (min-device-height: 600px) {

	#article-content {
		min-height : 350px;
	}


}


@media screen and (min-device-height: 1000px) {

	#article-content {
		min-height : 750px;
	}


}

@media screen and (min-device-height: 1200px) {

	#article-content {
		min-height: 950px;
	}


}


@media screen and (min-device-height: 1400px) {

	#article-content {
		min-height: 1150px;
	}


}

@media screen and (min-device-height: 1600px;) {

	#article-content {
		min-height: 1350px;
	}


}


@media screen and (min-width: 200px) {
	#article-content  {
		font-size: 0.9em;
	}
}


@media screen and (min-width: 1000px) {
	#article-content  {
		font-size: 1em;
	}
}


